# Ignore the user files of qt
NXC-Drawer.pro.user*

# Ignore the build files
build/

# Ignore the java target
NXC-Drawer-Client/target

# Ignore the java .idea files.
NXC-Drawer-Client/.idea/

# Ignore vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
